# Auto detect text files and perform LF normalization
* text=auto

# Flutter/Dart files
*.dart text
*.yaml text
*.json text
*.md text

# Web files
*.html text
*.css text
*.js text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary
*.otf binary
